form{
  background-color: rgba(9, 88, 153, 0.315);
  box-shadow: 0px 4px 8px rgba(9, 52, 144, 0.5);
  border-radius: 10px;
  display: flex;
  height: 400px;
  width: 400px;
  gap:20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.inputLogin{
  display: flex;
  flex-direction: column;
  gap:10px;
}
input {
 
  border-radius: 8px;
  width: 200px;
}

label{
  width: 150px;
}
.reAndBut{
  display: flex;
  align-items: center;
  gap:40px;
  justify-content: center;
}
.login{
  background-color: rgb(177, 43, 226);
  
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputAndMes{
  display: flex;

}

.title{
  color: #0ade31a6;
  height:50px;
}

.message{
  color: red;
  font-size: 13px;
  display: block;
  min-height: 20px;
}

.btnCss{
  border-radius: 10px;
  height: 30px;
}
.btnCss:hover{
  background-color: aqua;
}