:host {
  height: 100vh;
  display: block;
}

/* Sidebar: chia 2 phần: header + menu */
.sidebar {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* PHẦN HEADER – CỐ ĐỊNH */
.sidebar h2 {
  position: sticky;
  top: 0;
  z-index: 10;

  font-family: "Bungee Spice", sans-serif;
  text-align: center;
  padding: 18px;
  background-color: #ffffff;
  margin: 0;
  font-size: 18px;

}

/* CHỈ PHẦN MENU ĐƯỢC CUỘN */
.nav-list {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

/* Thanh cuộn đẹp hơn (optional) */
.nav-list::-webkit-scrollbar {
  width: 6px;
}
.nav-list::-webkit-scrollbar-thumb {
  background: #f5e7e7;
  border-radius: 10px;
}
.nav-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Nav item */
.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: black;
  border-bottom: #dfd1da solid 1px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item fa-icon {
  width: 20px;
  margin-right: 15px;
}

.nav-item:hover {
  color: #ca4b4b;
  font-weight: bold;
  transform: translateX(6px);
}

/* active */
.nav-item.active {
  color:  #ca4b4b;
  font-weight: bold;
}

/* menu con */
.submenu {
  list-style: none;
  padding-left: 0;
  background: #dfe2e4;
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
}

li.open .submenu {
  max-height: 600px;
}

.submenu .nav-item {
  padding-left: 45px;
}
