@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "@ng-select/ng-select/themes/default.theme.css";


html, body { height: 100%;font-size: 13px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;font-size: 13px; }
